$primary-color: #7B2020;
$secondary-color: white;
$detail-color: black;

$white: white;

$navigation-height: 70px;
$navigation-padding: 1%;

//Fonts

@mixin header-font {
    font-family: 'Rubik', sans-serif;
    font-size: 70px;
    font-weight: 1000;
    color: $detail-color;
}

@mixin sub-header-font {
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: $detail-color;
}

@mixin footer-text {
    font-size: 19px;
    color: white;
}

