@import "bootstrap";

@mixin nav-item {
    color: white;
    font-size: 18px;
} 

input[type=text] {
    width: 100%;
}

textarea {
    width: 100%;
}

.navigation-bar {
    height: 60px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.navigation-item {
    @include nav-item;
}

.navigation-item:hover {
    text-decoration: none;
    color: white;
}

.log-in-button {
    margin-left: auto;
}

.fa-user-circle {
    color: white;
    font-size: 25px !important;
}

.admin-table {
    width: 100%;
    table-layout: fixed;
}

.post-actions {
    display: block;
}

.post-actions a {
    font-size: 11px;
}

.page-content {
    padding-top: 2%;
}

trix-toolbar {
    button.attach::before {
      background-image: url(data:image/svg+xml,%3Csvg%20height%3D%2224%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M19.4%2010a7.5%207.5%200%200%200-14-2A6%206%200%200%200%206%2020h13a5%205%200%201%200%20.4-10zM14%2013v4h-4v-4H7l5-5%205%205h-3z%22%2F%3E%3C%2Fsvg%3E);
    }
  }